*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color: #2e3a46;
    height: 70px;
}
header img{
    height: 100%;
    padding: 10px;
}
main{
    background-color: #1e2d3b;
    display: flex;
    color: white;
    align-items: center;
    height: calc(100vh - 70px);
    font-family: sans-serif;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 20px auto ;
}
.card{
    width: 200px;
    margin:10px 5px;
    padding: 20px 10px;    
    background-color: #2e3a46;
    text-align: center;

}
.card-img{
    width: 100%;
}